<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="demo">
    <meta name="application-name" content="demo">
    <meta name="description" content="Web Application based on Material design principles">

    <link href="/static/fonts/material-icons/styles.css" rel="stylesheet">
    <link href="/static/fonts/roboto/styles.css" rel="stylesheet">
    <link id="vm-theme-css" href="/static/themes/indigo.css" rel="stylesheet">

    <title>demo</title>
  </head>

  <body>
    <div id="app"></div>
  </body>
</html>
